
@{
    ViewBag.Title = "hash5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>hash5</h2>

<script type="text/javascript">
        window.onload = function() {
            if (window.applicationCache) {
                alert("你的浏览器支持HTML5");
            } else {
                alert("你的浏览器不支持HTML5");
            }
        }
</script>
