<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections></configSections>
  <appSettings></appSettings>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="40960" executionTimeout="65536" minFreeThreads="8" minLocalRequestFreeThreads="4" requestValidationMode="2.0" />
  </system.web>
</configuration>